/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');

@font-face {
    font-family: 'Questrial';
    src: url('../fonts/Questrial-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Staatliches';
    src: url('../fonts/Staatliches-Regular.ttf') format('truetype');
}


body,
html {
    background-color: #20142f;
}

strong {
    color: #9bcfff !important;
    font-weight: 600;
}

.divider-150 {
    height: 150px;
}

.divider-75 {
    height: 75px;
}

.divider-50 {
    height: 50px;
}

.divider-25 {
    height: 25px;
}

.unique-cyborgs-header {
    color: #D8B8FF;
    font-size: 32px;
    font-family: 'Staatliches';
}

.logo-box {
    /* background: linear-gradient(92.9deg,
            rgba(134, 197, 255, 0.08) 0%,
            rgba(207, 231, 254, 0.08) 120.94%);
    border: 1px solid #86c5ff; */
}

.unique-cyborgs-box {

    background: linear-gradient(103.26deg, rgba(216, 184, 255, 0.1) -21.04%, rgba(129, 71, 204, 0.1) 114.55%);
}

.unique-cyborgs-text {
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
}

.carousel-inner {
    background: linear-gradient(0deg, rgba(37, 24, 54, 0.36), rgba(37, 24, 54, 0.36));
    border: 1px solid #D8B8FF;
}

.mintlabs-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container {
    color: transparent !important;
    border: 1px solid #FFFFFF;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#introduction {
    background-image: url('../img/bg/circler.svg');
}

#character-stats {
    padding-top: 5%;
}

#about, #poweredby, #coin, #partners {
    padding: 8% 0 8% 0;
    border-top: 1px solid #D8B8FF;
    border-bottom: 1px solid #D8B8FF;
    background-image: url('../img/bg/lines.svg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#details {
    padding: 8% 0 8% 0;
}

.category-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFFFFF;
    background: linear-gradient(181.61deg, rgba(255, 255, 255, 0.05) 1.36%, rgba(255, 255, 255, 0) 218.8%);
    animation: flicker 4s infinite ease-in;
}

.category-container::-moz-selection {
    background-color: #e2e2e2;
}

.category-container::selection {
    background-color: #e2e2e2;
}

.category-container:focus {
    outline: none;
}

.category-heading {
    color: rgb(221, 221, 221);
    font-size: 32px;
    font-family: 'Staatliches';
}

.category-subheading {
    color: white;
    opacity: 0.5;
    font-size: 32px;
    font-family: 'Staatliches', sans-serif;
}

.details-description {
    padding: 50px;
    background: linear-gradient(103.26deg, rgba(216, 184, 255, 0.1) -21.04%, rgba(129, 71, 204, 0.1) 114.55%);
}

.details-heading {
    font-family: 'Staatliches', sans-serif;
    font-size: 3rem;
    color: white;
}

.details-collapse button {
    font-family: 'Staatliches', sans-serif;
    font-size: 32px;
    background-color: transparent !important;
    border: 1px solid white !important;
    /* box-shadow: inset 0px 0px 23px rgba(216, 184, 255, 0.19) !important; */
    border-radius: 0px !important;
    /* filter: drop-shadow(0px 0px 15px rgba(216, 184, 255, 0.1)); */
}

.card-body {
    color: white;
    background-color: transparent !important;
    border: 1px solid #D8B8FF;
    border-radius: 0px !important;
}

.card-text {
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(103.26deg, #3A2C4A -21.04%, #3D2061 114.55%);
    padding: 40px 20px 40px 20px;
}

.card-text ul {
    list-style: none;
}

.accordion-item {
    background-color: transparent !important;
}

.accordion-header button {
    font-family: 'Staatliches', sans-serif;
    font-size: 2rem;
    color: #e2e2e2;
    background-color: transparent !important;
    border: 1px solid white !important;
    border-radius: 0px !important;
}

.accordion-button:not(.collapsed) {
    color: #fff !important;
}

.accordion-body {
    color: white;
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    line-height: 2;
}

.accordion-body ul {
    list-style: none;
}

.accordion-button::after {
    display: none;
}

.logo-heading {
    display: inline-block;
    color: white;
    font-weight: 200;
}

#character-stats h2 {
    font-family: 'Staatliches', sans-serif;
    font-size: 2.5rem;
    color: white;
}

#character-stats h4 {
    font-family: 'Questrial', sans-serif;
    font-size: 1.5rem;
    color: white;
    line-height: 2;
}

.character-stats-container,
.character-stats-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-stats-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.character-stats-basic {
    background: linear-gradient(92.9deg, rgba(134, 197, 255, 0.08) 0%, rgba(207, 231, 254, 0.08) 120.94%);
    border: 1px solid #86C5FF;
}

.character-stats-gold {
    background: linear-gradient(92.9deg, rgba(255, 184, 101, 0.08) 0%, rgba(244, 233, 175, 0.08) 120.94%);
    border: 1px solid #F37215;
}

.character-stats-header h3 {
    font-family: 'Staatliches', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: white;
}

.character-stats-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 8%;
    padding: 15px 25px 15px 25px;
    border: 1px solid #86C5FF;
    background: linear-gradient(163.54deg, rgba(27, 146, 255, 0.05) 1.3%, rgba(255, 255, 255, 0.05) 97.64%);
}

.heading-basic {
    font-family: 'Staatliches', sans-serif;
    font-weight: 500;
    color: white;
}

.heading-purple {
    font-family: 'Questrial', sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: #D8B8FF !important;
}

.text-basic {
    font-family: 'Questrial', sans-serif;
    color: rgb(209, 209, 209);
}

.text-medium {
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 500;
    line-height: 2;
}

.table {
    font-family: 'Staatliches', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: #fff;
    border: 1px solid #D8B8FF;
}

.white-row {
    background: white !important;
}

.purple-row {
    background: #F3EBFD !important;
}

/* CARD RESET */

.fees-card {
    border: 1px solid #D8B8FF !important;
    background-color: transparent !important;
}

/* TIMELINE */

.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem
}

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background-color: #F3EBFD;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5
}

.team-card {
    background: transparent !important;
    border: 0px !important;
}

.team-card>.card-body {
    border: 0px !important;
}

/* ****************** */
/*     ANIMATIONS     */
/* ****************** */

.fadeIn {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flicker {

    0%,
    20%,
    40%,
    60%,
    80%,
    60%,
    80%,
    100% {

        box-shadow:
            0 0 1px #fff,
            inset 0 0 1px #fff,
            0 0 2px #86C5FF,
            inset 0 0 2px #86C5FF,
            0 0 4px #86C5FF,
            inset 0 0 4px #86C5FF;
    }

    /* 
    20%,
    24%,
    55% {
        text-shadow: none;
        box-shadow: none;
    } */
}