@media only screen and (min-width: 768px) {
    nav {
        padding-left: 10% !important;
        padding-right: 10% !important;
    }

    .logo-box {
        width: 527px;
        height: 122px;
    }

    .details-collapse button {
        width: 581px;
        height: 104px;
    }

    .unique-cyborgs-box {
        width: 646px;
        height: 226px;
    }

    .icon-container {
        width: 50px;
        height: 50px;
    }

    .icon-container img {
        width: 35px;
    }
}

@media only screen and (max-width: 768px) {
    .logo-box {
        width: 100%;
    }

    .unique-cyborgs-box {
        padding: 15px;
        width: 100%;
    }

    .icon-container {
        width: 35px;
        height: 35px;
    }

    .icon-container img {
        width: 25px;
    }
}