@media only screen and (min-width: 768px) {
    nav {
        padding-left: 10% !important;
        padding-right: 10% !important;
    }

    .logo-box {
        width: 527px;
        height: 122px;
    }

    .details-collapse button {
        width: 581px;
        height: 104px;
    }

    .unique-cyborgs-box {
        width: 646px;
        height: 226px;
    }

    .icon-container {
        width: 50px;
        height: 50px;
    }

    .icon-container img {
        width: 35px;
    }

    .category-container {
        width: 415px;
        height: 193px;
    }

    .advanced-smart {
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .kalao {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .details-description {
        width: 530px;
        height: 513px;
    }

    .poweredby-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .character-stats-header {
        width: 320px;
        height: 76px;
    }

    .character-stats-body {
        width: 324px;
        height: 301px;
    }

    .fees-card {
        width: 224px;
        height: 400px;
    }

    #details {
        background-image: url(../img/bg/leftPlayer.svg);
        background-position: left;
        background-repeat: no-repeat;
        background-position-y: -400px;
    }
}

@media only screen and (max-width: 768px) {
    .logo-box {
        width: 100%;
    }

    .unique-cyborgs-box {
        padding: 15px;
        width: 100%;
    }

    .icon-container {
        width: 40px;
        height: 40px;
    }

    .icon-container img {
        width: 25px;
    }

    .categories {
        display: flex;
        flex-direction: column;
    }

    .categories>.col {
        padding-bottom: 25px;
    }

    .category-container {
        width: 100%;
        height: 193px;
    }

    .advanced-smart {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .kalao {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .details-description {
        width: 100%;
        height: 720px;
    }

    .poweredby-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .character-stats-container {
        margin-bottom: 45px;
    }

    .character-stats-header {
        width: 100%;
        height: 76px;
    }

    .character-stats-body {
        width: 100%;
        height: 301px;
    }

    .fees-card {
        width: 100%;
        height: 400px;
    }

    .partners-banner {
        height: 650px;
    }

    #moto {
        height: 320px;
    }
}

@media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted #F3EBFD;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted #F3EBFD;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    }
}